<h1>Index page</h1>

<%= link_to "Create a movie list", new_list_path %>
  <ol>
    <% @lists.each do |list| %>
    <li>
      <%= list.name %>
      <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, list_path(list) %>
      <%= button_to '<i class="fa-solid fa-trash"></i>'.html_safe,
                    list_path(list),
                    method: :delete,
                    form_class: "d-inline",
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: "btn btn-link" %>
    </li>
    <% end %>
  </ol>
